#Football_Appointment {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#Football_Appointment .Football_Appointment_cover {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 70px;

}

#Football_Appointment .filter_part {
    border-bottom: 2px solid #dcdcdf;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

#Football_Appointment .filter_part .text {
    background-color: #fe9c3336;
    border: 1px solid #FE9B33;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
}

#Football_Appointment .filter_part ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0;
    margin: 0;
    margin-left: 60px;
}

#Football_Appointment .filter_part ul li {
    list-style: none;
    margin: 0 5px;
    transition: 1s all ease-in;
}

#Football_Appointment .filter_part ul li a {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 7px;
}

#Football_Appointment .filter_part ul li a i {
    color: #183153;
    font-size: 18px;
}


#Football_Appointment .date_row {
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 2;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#Football_Appointment .date_row .day_row {
    display: grid;
    grid-template-columns: repeat(7, 17vmin);
    gap: 2vmin;
    background-color: #FFFFFF;
    height: 80px;
    position: relative;
    z-index: 2;

}

#Football_Appointment .date_row .day_row .single_day {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid #dcdcdf;
}

#Football_Appointment .date_row .day_row .single_day span.day_num {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3vmin;
}

#Football_Appointment .date_row .day_row .single_day span.day_name {
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: -10px;
    font-size: 2vmin;
    margin-left: 5px;
}

#Football_Appointment .date_row .row_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 98px;
    min-width: 98px;
    height: 100%;
}

#Football_Appointment .date_row .row_icon img {
    width: 30px;
    height: 30px;
}


#Football_Appointment .bottom_schdule_side {
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    margin-top: 20px;
}

#Football_Appointment .bottom_schdule_side .hours_side {
    width: 98px;
    min-width: 98px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

#Football_Appointment .bottom_schdule_side .hours_side .single_hour {
    display: grid;
    grid-template-rows: repeat(7, 15vmin);
    gap: 2vmin;
    width: 100%;
    height: 17vmin;
    justify-content: center;
}

#Football_Appointment .bottom_schdule_side .hours_side .single_hour span {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

#Football_Appointment .bottom_schdule_side .schdule_side {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 17vmin);
    grid-template-rows: repeat(12, 15vmin);
    gap: 2vmin;
    z-index: 1;
}

#Football_Appointment .bottom_schdule_side .schdule_side .draw_row {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

#Football_Appointment .bottom_schdule_side .schdule_side .draw_row:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    cursor: pointer;
}


#Football_Appointment .bottom_schdule_side .schdule_side .draw_row.selected_hour {
    background-color: #FFFFFF;
    border-radius: 7px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#Football_Appointment .bottom_schdule_side .schdule_side .draw_row:nth-child(16) {
    background-color: #FFFFFF;
    border-radius: 7px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-top: 3px solid #FE9B33;
}

#Football_Appointment .bottom_schdule_side .schdule_side .draw_row:nth-child(16) .owner_img_of_selected_date {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#Football_Appointment .bottom_schdule_side .schdule_side .draw_row:nth-child(16) img {
    width: 7vmin;
    height: 7vmin;
    object-fit: cover;
    border-radius: 100%;

}

#Football_Appointment .bottom_schdule_side .schdule_side .draw_row:nth-child(16) .owner_name_of_selected_date {
    width: 100%;
    text-align: center;
    margin-top: 4px;
}

#Football_Appointment .bottom_schdule_side .schdule_side .draw_row:nth-child(16) .owner_name_of_selected_date span {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.8vmin;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}



/** Modal */


#Football_Appointment #selectedDateSettings.modal {}