@media only screen and (max-width: 1400px) {
    #main-page .middle-side-contents {
        width: calc(100% - 460px) !important;
        margin-left: 90px !important;
        min-width: 780px !important;
    }
}


@media only screen and (min-width: 1600px) {
    #main-page .main-page__cover {
        justify-content: center;
        align-items: flex-start;
        display: flex !important;
    }

    #main-page .middle-side-contents {
        width: calc(100% - 1010px) !important;
        max-width: 1000px !important;
        margin-left: 260px !important;
    }

    #main-page .middle-side-contents .middle-side__cover {
        height: 100%;
        padding: 10px 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}



#main-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* background: #F7F6FF fixed; */
    /* background-color: white; */
    background: var(--theme_bg_color);
    transition: 0.5s;
}


#main-page .main-page__cover {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    display: block;
    /* background: url(/static/img/profilePageBg.jpg) fixed repeat; */
    background: url(/static/img/rainbow-lines.png) fixed right bottom no-repeat;
}




/**--------- Middle-Side-Content*/

#main-page .middle-side-contents {
    width: calc(100% - 620px);
    margin-left: 255px;
    min-width: 780px !important;
}

#main-page .middle-side-contents .middle-side__cover {
    height: 100%;
    padding: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    /* border-right: 1px solid #5b616c1c; */
    /* border-left: 1px solid #5b616c1c; */
}

#main-page .sentiment-row {
    margin-bottom: 30px;
}

#main-page .sentiment-row span {
    font-family: 'Inika', serif;
    font-size: 23px;
    color: #233b55;
    font-weight: 600;
}

#main-page .sentiment-row .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 10px;

}



#main-page .sentiment-row .buttons a {
    padding: 7px 15px;
    color: white;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 7px;
}

#main-page .sentiment-row .buttons a:nth-child(1) {
    background-color: #01941f;
}

#main-page .sentiment-row .buttons a:nth-child(2) {
    background-color: #00b997;
}

#main-page .sentiment-row .buttons a:nth-child(3) {
    background-color: #00d2fe;
}

#main-page .sentiment-row .buttons a:nth-child(4) {
    background-color: #9d00fe;
}

#main-page .sentiment-row .buttons a:nth-child(5) {
    background-color: #b31523;
}