:root .darkApp {
    --theme_color: #F5F7FA;
    --theme_bg_color: #171818;
    --theme_for_white_space_bg_color: #1E2229;
    --theme_for_inner_space_bg_color: #1E2229;
    --theme_for_inner_space_color: #abb2c0;
    --theme_for_inner_border: 1px solid #233b55cc;
    --theme_for_settings_menu_box_shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --theme_for_active_menubox_shadow: rgba(0, 0, 0, 0.787) 0px 2px 8px;
    --theme_border_effect: none;
    --theme_card_border_color: #cfd8dc70;
    --theme_card_border_px: 2px;
    --theme_card_border: var(--theme_card_border_px) solid var(--theme_card_border_color);
    --webkit_scrollbar: 1px;
    --theme_card_divider_box_shadow: rgba(255, 255, 255, 0.1) 0px 10px 10px -10px;
    --theme_card_content_title_color: #ffffff;
    --theme_right_side_trend_tags_background: linear-gradient(to bottom, #ffffff, #a4b9cff3);
    --theme_navbar_box_shadow: rgba(255, 255, 255, 0.1) 0px 10px 10px -10px;
    --theme_navbar_border: 2px solid #6C7278;
    --theme_components_card_header_color: #1E2229;
    --theme_components_card_bg_color: #1E2229;
    --theme_swipper_pagination_bg_color: #FFFFFF;
    --theme_swipper_pagination_active_bg_color: #757c8a;
    --theme_card_bg_blur_color: linear-gradient(180deg, #000000 ,#000000,#000000ed);
    --theme_card_title_color: #CFD8DC ;
    --theme_swipper_blur_left_bg_color: linear-gradient(90deg, #1E2229, #1e2229d8, transparent);
    --theme_swipper_blur_right_bg_color: linear-gradient(90deg, transparent, #1e2229,#1E2229);
    --theme_post_card_interactive_divider_border: 2px solid transparent;
    --theme_post_card_interactive_up_vote: #39E58C;
    --theme_post_card_interactive_up_unvote: #A8B3CF;
    --theme_all_post_categories_and_search_part_bg: transparent;
    --theme_all_post_categories_and_search_part_blur_left_bg_color: linear-gradient(90deg, #1e2229e1, transparent);
    --theme_all_post_categories_and_search_part_blur_right_bg_color: linear-gradient(90deg, transparent, #1e2229ca);
    --theme_all_post_card_bg_color:#1C1F26;
    --theme_sport_football_announcement_box_shadow:rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    --theme_close_menu_button: white;
    --theme_profile_page_title_color: white;
    --theme_post_detail_up_unvote: #95A5A6;
}

:root .lightApp {
    --theme_color: #233B55;
    --theme_bg_color: #F5F7FA;
    --theme_for_white_space_bg_color: #FFFFFF;
    --theme_for_inner_space_bg_color: #FFFFFF;
    --theme_for_inner_space_color: #233B55;
    --theme_for_inner_border: 1px solid transparent;
    --theme_for_active_menubox_shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    --theme_for_settings_menu_box_shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --theme_border_effect: rgba(136, 165, 191, 0.48) 0px 2px 4px 0px, rgba(255, 255, 255, 0.8) 0px -2px 4px 0px;
    --theme_card_border_color: #EEEEF0;
    --theme_card_border_px: 3px;
    --theme_card_border: var(--theme_card_border_px) solid #cfd8dc70;
    --webkit_scrollbar: 5px;
    --theme_card_divider_box_shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    --theme_card_content_title_color: #233B55;
    --theme_right_side_trend_tags_background: linear-gradient(to bottom, #a8041de1, #0367d1f3);
    --theme_navbar_box_shadow: rgba(255, 255, 255, 0.1) 0px 10px 10px -10px;
    --theme_navbar_border: 2px solid transparent;
    --theme_components_card_header_color: transparent;
    --theme_components_card_bg_color: #ffffff;
    --theme_swipper_pagination_bg_color: #484E5A;
    --theme_swipper_pagination_active_bg_color: #484E5A;
    --theme_card_bg_blur_color: linear-gradient(180deg, #2D3138 ,#2D3138,#2D3138);
    --theme_card_title_color: #3A4F7E ;
    --theme_swipper_blur_left_bg_color: linear-gradient(90deg, #ffffff, #ffffffab, transparent);
    --theme_swipper_blur_right_bg_color: linear-gradient(90deg, transparent, #ffffffab,#ffffff);
    --theme_post_card_interactive_divider_border: 2px solid #E9EAED;
    --theme_post_card_interactive_up_vote: #EB0400;
    --theme_post_card_interactive_up_unvote: #233B55;
    --theme_all_post_categories_and_search_part_bg: linear-gradient(180deg,#F5F7FA, #FFFFFF);
    --theme_all_post_categories_and_search_part_blur_left_bg_color: linear-gradient(90deg, #FAFBFC, transparent);
    --theme_all_post_categories_and_search_part_blur_right_bg_color: linear-gradient(90deg, transparent, #FAFBFC);
    --theme_all_post_card_bg_color:#F5F7FA;
    --theme_sport_football_announcement_box_shadow:rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --theme_close_menu_button: #8B2232;
    --theme_profile_page_title_color: #484E5A;
    --theme_post_detail_up_unvote: #95A5A6;
}

/* *background-image: linear-gradient(120deg, #eaee44, #33d0ff); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Roboto Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'PT Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');
/* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@100;200;300;400;500;600;700;800&display=swap');
/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');
/* font-family: 'Titillium Web', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');
/* font-family: 'Artifika', serif; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface:wght@300;400;500;600;700;900&display=swap');
/* font-family: 'Abril Fatface', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
/* font-family: 'Inika', serif; */

@font-face {
    font-family: 'deneme';
    src: local('deneme'),
         url('./../../../src/assets/fonts/Segou_UI/Segoe UI.ttf') format('ttf'),
}


/** Text overflow */
/* 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
*/


/** image box shadow  */
/* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
/* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
/* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;*/


/** Swipper left-Right Blur Code */
/* 
.swipper::before {
    content: '';
    position: absolute !important;
    height: 100%;
    z-index: 2;
    width: 13px;
    background: linear-gradient(90deg, #F5F7FA, transparent);
}
.swipper::after {
    content: '';
    position: absolute;
    display: flex;
    left: 100%;
    transform: translateX(-100%) translateY(-100%);
    height: 100%;
    z-index: 20;
    width: 13px;
    background: linear-gradient(90deg, transparent, #F5F7FA);
}
*/



* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    /* background: #F5F7FA fixed !important; */
    background: var(--theme_bg_color) !important;
}

.row {
    margin: 0;
    padding: 0;
}

#text {
    padding: 0;
    margin: 0;
}



.if_post_liked:before,
.if_post_liked:after {
    content: "";
    position: absolute;
    margin-left: -2px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    transform: scale(0);
    color: #AAB2BD;
    border: 1px solid transparent;
    box-shadow: -0.8em 0 0 -2px, 0.8em 0 0 -2px, 0 -0.8em 0 -2px, 0 0.8em 0 -2px, -0.6em -0.6em 0 -2px, -0.6em 0.6em 0 -2px, 0.6em -0.6em 0 -2px, 0.6em 0.6em 0 -2px;
}

.if_post_liked:before {
    -webkit-animation: like-effect-01-animation 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: like-effect-01-animation 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.if_post_liked:after {
    -webkit-animation: like-effect-02-animation 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: like-effect-02-animation 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes like-effect-01-animation {
    from {
        transform: rotate(-15deg) scale(0);
    }

    40% {
        opacity: 1;
    }

    to {
        transform: rotate(-30deg) scale(2.5);
        opacity: 0;
    }
}

@keyframes like-effect-01-animation {
    from {
        transform: rotate(-15deg) scale(0);
    }

    40% {
        opacity: 1;
    }

    to {
        transform: rotate(-30deg) scale(2.5);
        opacity: 0;
    }
}

@-webkit-keyframes like-effect-02-animation {
    from {
        transform: rotate(10deg) scale(0);
    }

    40% {
        opacity: 1;
    }

    to {
        transform: rotate(30deg) scale(2);
        opacity: 0;
    }
}

@keyframes like-effect-02-animation {
    from {
        transform: rotate(10deg) scale(0);
    }

    40% {
        opacity: 1;
    }

    to {
        transform: rotate(30deg) scale(2);
        opacity: 0;
    }
}

.darkApp .if_post_liked:before,
.darkApp .if_post_liked:after {
    color: #39E58C;
}

.lightApp .if_post_liked:before,
.lightApp .if_post_liked:after {
    color: #CF1928;
}


body::-webkit-scrollbar {
    z-index: 99999;
}

body::-webkit-scrollbar-track  {
    background-color: #F1F1F1 ;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #95A5A6 0%, #95A5A6 50%, #95A5A6 99%);
}


/* 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 12px;
    font-family: 'Rubik', sans-serif;
    color: var(--theme_card_content_title_color);
    font-weight: 400;
    font-size: 13px;
    word-spacing: 2px;
    letter-spacing: 0.6px;
*/



